* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #eff4e9;
  color:#d3d3d3;
  margin: 0;
}

nav {
  background-color: #333;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  border-radius: 2px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
  padding: 5px 5px;
  font-size: 16px;
}

nav a:hover {
  background-color: #484747;
  border-radius: 5px;
}

button {
  display: block;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px auto;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

.logout-btn {  
  display: block;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  position: fixed;
  bottom: 20px; 
  left: 85%;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  display: block;
  width: 80%;
  padding: 8px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input::placeholder {
  color: #999;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 90%;
  max-width: 400px;
}

form label {
  align-self: flex-start;
  margin-left: 10%;
  font-size: 14px;
  color: #666;
}

form button {
  width: 50%;
  margin-top: 10px;
}

h2 {
  text-align: center;
  color: #333;
  margin: 3rem 0;
}

p {
  text-align: center;
  color: #666;
  font-size: 14px;
  margin: 10px 0;
}


ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul li p {
  margin: 5px 0;
}

ul li img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px auto;
}
